a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;margin:0;padding:0;vertical-align:baseline}:focus{outline:0}html{overflow-x:hidden}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}@font-face{font-family:BYekan;src:url(fonts/BYekan.eot?#) format("eot"),url(fonts/BYekan.woff) format("woff"),url(fonts/BYekan.ttf) format("truetype")}@font-face{font-family:ziba_font;src:url(fonts/ziba_font.eot?#) format("eot"),url(fonts/ziba_font.woff) format("woff"),url(fonts/ziba_font.ttf) format("truetype")}.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}h1,h2,h3,h4,h5,h6{font-family:BYekan,tahoma;font-weight:400}h1,h2{font-size:16px}h3{font-size:13px}h4,h5,h6{font-size:11px}.leftInfo header h6{font-size:16px}.clear{clear:both;display:block;font-size:0;height:0}a,a:visited{color:#4e505a;text-decoration:none;transition:all .3s ease-out 0s}a:hover{color:#df5745;text-decoration:none}.divider{background:url(images/divider.gif) repeat scroll 0 0 #ccc;clear:both;height:4px;margin:5px 0}#menu{background:none repeat scroll 0 0 rgba(255,255,255,.9);box-shadow:0 0 7px #ccc;direction:rtl;position:fixed;width:100%;z-index:9999}#menu:hover{background:none repeat scroll 0 0 rgba(255,255,255,1)}#menu .logo{background:url(images/logo.gif) no-repeat scroll right center transparent;float:right;height:63px;width:233px}#menu .logo a{display:block;font:0px tahoma;width:100%}#menu ul.main{font:13px/2 BYekan,tahoma;padding:15px 0 0}#menu ul li{list-style:none}#menu ul li.home{background:url(images/icons.gif) no-repeat scroll right 0 rgba(0,0,0,0)}#menu ul li.video{background:url(images/icons.gif) no-repeat scroll right -63px rgba(0,0,0,0)}#menu ul li.music{background:url(images/icons.gif) no-repeat scroll right -30px transparent}#menu ul li{display:block;float:right;margin:0 0 13px;padding:5px 30px 4px 10px;position:relative}#menu ul li ul{background:none repeat scroll 0 0 #fff;border-radius:0 0 5px 5px;display:none;overflow:hidden;position:absolute;right:0;top:36px;width:200px;z-index:9999}#menu ul li ul li{border-bottom:1px solid #efefef;display:block;float:none;margin:0;padding:5px 16px}.site-description{overflow:hidden}#search{border:1px solid #eee;border-radius:99px;float:left;width:200px}.searchtext{background:none repeat scroll 0 0 transparent;border:0;color:#999;float:right;font:11px tahoma,sans-serif;height:30px;margin:0 8px 0 0;text-align:right;width:160px}.searchsubmit{background:url(images/sprites.png) no-repeat scroll -5px -300px transparent;border:0;cursor:pointer;float:left;height:16px;margin:7px 5px 0 7px;width:16px}#socialoptions{float:left;margin:0 4px}#socialoptions a{margin:0 2px}#socialoptions a img{opacity:.7}#socialoptions a:hover img{opacity:1}.wrapper{direction:rtl;font:11px/2.5 tahoma;margin:0 auto;width:1200px}.slideshow{height:320px;overflow:hidden;padding:63px 0 0;position:relative}.slideshow .slider img{height:320px;width:100%}.slideshow .slider h2{bottom:80px;color:#fff;font-size:19px;position:absolute;right:34px}.slideshow .slider h2 a{color:#fff!important}.slideshow .slider h2 p{color:#eee;font:13px/2 BYekan,tahoma!important}.slideshow .sliderc{left:15px;position:absolute;top:80px;width:200px}.slideshow .sliderc a{margin:8px;opacity:.5}.slideshow .sliderc .active,.slideshow .sliderc a:hover{opacity:1}.slideshow .sliderc a img{border-radius:999px;height:70px;width:70px}.sidebar{background:none repeat scroll 0 0 #eee;float:right;width:19%}.onlineplayer{border-top:2px solid #1bbae1;padding:70px 5px 30px;text-align:center}.onlineplayer h2{color:#fff;font:14px/2 BYekan,tahoma;text-align:center;text-shadow:0 0 3px #000;margin-top:28px;}.onlineplayer h4{color:#ddd;font:12px/2 BYekan,tahoma;text-align:center;text-shadow:0 0 3px #000}.controller{margin:10px auto;width:170px}.dlnowsong{background:none repeat scroll 0 0 #79bd2f;border-radius:4px;color:#fff!important;font:12px/2 BYekan,tahoma;padding:3px 10px}.controller a{border-radius:999px;display:block;float:right;font:0px tahoma;height:50px;opacity:.8;width:50px}.controller a:hover{opacity:1}.onlineplayer #play-bt{background:url(images/player.png) no-repeat scroll center 0 transparent;margin:0 10px}.onlineplayer #pause-bt{background:url(images/player.png) no-repeat scroll center -50px rgba(0,0,0,0)}.onlineplayer #stop-bt{background:url(images/player.png) no-repeat scroll center -100px rgba(0,0,0,0)}.fullarchive{background:none repeat scroll 0 0 #eee}.fullarchive ul li{position:relative}.fullarchive ul li.underline{background:url(images/arrow2.jpg) no-repeat scroll center bottom transparent;margin:0 0 5px;padding:0 0 15px}.fullarchive ul li ul{display:none;font:13px/2 BYekan,tahoma;padding:5px 0;z-index:9999}.fullarchive ul li ul li a{border-bottom:1px solid #ddd;color:#999;display:block;padding:5px}.fullarchive ul li ul li a:hover{background:none repeat scroll 0 0 #f3f3f3}.fullarchive ul li ul li a img{border-radius:999px;float:right;margin:0 0 0 10px}.alphabet{background:none repeat scroll 0 0 #ea6153;border-radius:999px;color:#fff!important;display:block;font:13px/2 BYekan,tahoma;margin:0 auto;width:25px;text-align:center}.fullarchive h3{background:url(images/icons.gif) no-repeat scroll right -158px #ebebeb;border-right:4px solid #ccc;font:13px/2 BYekan,tahoma;padding:8px 32px 5px 0}.fullarchive h3 a{color:#999;font:11px/1 tahoma!important}.fullarchive h3 a:hover{color:#555}.sidebar .advertisment{background:none repeat scroll 0 0 #333;padding:10px;text-align:center}.sidebar .requset{background: url('images/player.png') no-repeat scroll center -297px #DDD;border-radius:4px;margin:5px;padding:75px 0 0}.sidebar .requset-c{background:none repeat scroll 0 0 #fff;border-radius:0 0 4px 4px;padding:5px;text-align:center}.sidebar .requset-c a{background:none repeat scroll 0 0 #1bbae1;border-bottom:2px solid #179fc1;border-radius:4px;color:#fff;font:13px/2 BYekan,tahoma;padding:3px 5px}.sidebar .pishvaz{background:url(images/pishvaz.gif) no-repeat scroll center top transparent;margin:5px;padding:115px 0 0}.sidebar .pishvaz-c{background:none repeat scroll 0 0 #fff;border-radius:0 0 4px 4px;padding:5px}.sidebar .pishvaz-c ul li a{background:url(images/arrow3.gif) no-repeat scroll right center transparent;border-bottom:1px solid #f4f4f4;color:grey;display:block;padding:0 24px 0 0}.sidebar .pishvaz-c ul li a:hover{background:url(images/arrow3.gif) no-repeat scroll left center transparent;border-bottom:1px solid #eee;color:#f49d1e;padding:0 0 0 22px}.sidebar .pishvaz a.archivevvv{background:none repeat scroll 0 0 #f49d1e;border-radius:4px;color:#fff;padding:2px 8px}.sidebar .pishvaz a.archivevvv:hover{background:none repeat scroll 0 0 #db880b}.sidebar #requset-code{background:url(images/requset-code.png) no-repeat scroll center 0 #ddd}.maincontent{float:left;margin:10px 0 0;width:78%}.notifications{background:url(images/bigico.gif) no-repeat scroll right 0 #ea6153;color:#fff}.newsletter{background:url(images/newbg.png) no-repeat center center transparent;background-size: 100% 100%;}.newsletter .mail{background:none repeat scroll 0 0 #f2f2f2;border:1px solid #c2c2c2;float:right;font:11px/2 tahoma;padding:2px 1% 0px;width:69%;}.newsletter .submit{background:none repeat scroll 0 0 #EA6153;border:0;color:#fff;float:left;font:11px/2 tahoma;padding:2px 1%;width:18%;margin-left:8%}.newsletter .content,.notifications .content{padding:9px 137px 47px 10px}.postbox{float:right;margin:10px 0 0;width:70%}.post{background:none repeat scroll 0 0 #fff;margin:0 0 10px}.post img{max-width:100%}.post .rightc{float:right;overflow:hidden;padding:0 1% 6%;text-align:center;width:15%}.post .rightc p{padding:5px 0}.post .rightc p a{color:#ddd}.post .rightc p a:hover{color:#666}.post .rightc .view{background:none repeat scroll 0 0 #62cf7e;border-bottom:3px solid #53b362;border-radius:3px;color:#fff;display:block;margin:0 5px;padding:3px 5px}.rightc .ico-5{background:url(images/videoico.gif) no-repeat scroll 0 0 transparent!important;height:40px;margin:10px auto;width:40px}.rightc .ico-4,.rightc .ico-6{background:url(images/albumico.gif) no-repeat scroll 0 0 transparent!important;height:40px;margin:10px auto;width:40px}.rightc .ico-1775{background:url(images/newsico.jpg) no-repeat scroll 0 0 transparent!important;height:40px;margin:10px auto;width:40px}.post .pageico{background:url(images/page.gif) no-repeat scroll 0 0 transparent;height:40px;margin:10px auto;width:40px}.rightc .comments{background:url(images/sprites.png) no-repeat scroll transparent 75% -239px;border-bottom:1px solid #e1e1e1;border-top:1px solid #e1e1e1;color:#666;display:block;font:12px/2 BYekan,tahoma;margin:0 0 13px;padding:0 19px 0 0}.post .cms{background:url(images/cms.jpg) no-repeat scroll 0 0 transparent;height:40px;margin:10px auto;width:40px}.post .leftInfo{border-right:4px solid #eee;float:left;padding:0 1%;width:85%}.post .leftInfo header{position:relative;border-bottom:1px solid #eee;padding:5px}.post-tags{background:none repeat scroll 0 0 #f5f5f5;margin:10px 0}.morelink{padding:10px 0}.morelink a{background:none repeat scroll 0 0 #1fc0e8;border-right:3px solid #15a6ca;color:#fff;font:13px/2 BYekan,tahoma;padding:3px 5px}.morelink a:hover{background:none repeat scroll 0 0 #3dc8eb;border-right:5px solid #15a6ca}.post .leftInfo .date{background:url(images/sprites.png) no-repeat scroll right -326px transparent;color:#666;font:12px/2 BYekan,tahoma;padding:2px 24px 2px 10px}.post .leftInfo .cat{background:url(images/sprites.png) no-repeat scroll right -209px transparent;color:#666;font:12px/2 BYekan,tahoma;padding:2px 24px 2px 10px}.latestforum{background:none repeat scroll 0 0 #fff;margin:0 0 10px}.latestforum h3{background:url(images/icons.gif) no-repeat scroll right -104px transparent;border-bottom:1px solid #eee;float:right;padding:10px 35px 10px 0;width:95%}.leftside{float:left;margin:10px 0 0;width:28.75%}.lastposts{background:none repeat scroll 0 0 #fff;margin:0 0 10px}.lastposts h3{border-bottom:1px solid #eee;border-right:3px solid #eee;padding:2px 6px}.lastposts h3 span{background:url(images/sprites.png) no-repeat scroll right -37px transparent;padding:2px 30px 0 0}.lastposts ul{padding:5px 0}.lastposts ul li a{padding:0 9px}.adv-left{background:none repeat scroll 0 0 #ebe9e9;margin:0 0 10px;padding:10px}.adv-left h3{color:#555}.adv-left h3 a{background:none repeat scroll 0 0 #fff;border-bottom:1px solid #ccc;border-radius:3px;color:grey;padding:2px 4px}.adv-left h3 a:hover{background:none repeat scroll 0 0 #666;border-bottom:1px solid #555;color:#fff;padding:2px 4px}.topmusic{background:url(images/bigico.gif) no-repeat scroll center -240px #3d566d;margin:0 0 10px;padding:100px 0 0}ol{counter-reset:li;list-style:none;padding:0 35px 0 0}.archivet{background:none repeat scroll 0 0 #86878a;border-right:4px solid #636467;color:#fff;font:13px/2 BYekan,tahoma;margin:0 0 10px;padding:5px}.topmusiclist{background:none repeat scroll 0 0 #fff;padding:5px}.topmusiclist a:hover{color:#0aa699}.topmusiclist a{color:#757e84;display:block;font:13px/2 BYekan,tahoma;margin:.25em 0 .2em 2.5em;padding:.4em;position:relative;text-decoration:none;transition:all .3s ease-out 0s}.topmusiclist a:before{background:none repeat scroll 0 0 #ebebeb;border-radius:2px;color:#757e84;content:counter(li,decimal);counter-increment:li;font:13px/2 BYekan,tahoma;height:2em;margin-top:-1em;position:absolute;right:-2.5em;text-align:center;top:50%;width:2em}.topmusiclist a:after{border:.5em solid transparent;content:"";margin-top:-.5em;position:absolute;right:-1em;top:50%;transition:all .3s ease-out 0s}.topmusiclist a:hover:after{border-right-color:#ebebeb;right:-.5em}.topmusic .tabs1c{background:none repeat scroll 0 0 #47647e;padding:10px 0;text-align:center}.topmusic .tabs1c a{border-radius:4px;color:#b6c7d6;font:13px/2 BYekan,tahoma;padding:4px 7px}.topmusic .tabs1c a:hover{background:none repeat scroll 0 0 #0aa699;color:#fff}.musicnews{background:none repeat scroll 0 0 #fff;margin:0 0 10px;padding:0 0 13px}.musicnews ul li:before{content:"";display:block;width:39px;height:16px;position:absolute;margin-right:-19px;margin-top:9px;background:url(images/sprites.png) no-repeat transparent 180% -164px}.topmusicnews{height:49px;margin:32px 0 0;position:relative;width:100%}.topmusicnews img{max-height:185px;position:absolute;width:100%}.topmusicnews h4{background:url(images/topmusicnews.png) no-repeat scroll center top transparent;bottom:0;display:block;padding:50px 0 0;position:absolute;text-align:center;width:100%}.musicnews h3{display:block;text-align:center}.musicnews p a{background:none repeat scroll 0 0 #1bbae1;border-radius:4px;color:#fff;padding:4px 7px}.musicnews p a:hover{background:none repeat scroll 0 0 #ea6153}.musicnews ul li{border-top:1px solid #eee;color:grey;display:block;margin:5px 0;padding:4px 25px 5px 5px}.musicnews ul li a{font:12px/2 BYekan,tahoma}.topmusicnews h4 span{display:block}#footer{background:none repeat scroll 0 0 #3e454d;direction:rtl;padding:10px 0 0}#footer .footer-c{font:11px/2 tahoma;margin:0 auto;width:1200px}#footer .footer-c .tags{background:none repeat scroll 0 0 #333c44;border-radius:4px;float:right;font:13px/2 BYekan,tahoma;padding:10px 1%;width:47%}#footer .footer-c .tags h3{background:url(images/sprites.png) no-repeat scroll right -378px transparent;color:#e1e1e1;margin:0 0 10px;padding:2px 30px 2px 0}#footer .footer-c .tags a{background:none repeat scroll 0 0 #424a52;border-radius:4px;color:#ccc;padding:2px 5px}#footer .footer-c .tags a:hover{background:none repeat scroll 0 0 #1bbae1;color:#fff}#footer .footer-c .cp{background:url(images/footerlogo.gif) no-repeat scroll 25px 20px #fff;border-radius:4px;float:left;padding:15px 1%;width:47%}#footer .footer-c .cp .withus{float:right;width:33%}#footer .footer-c .cp .viewer{background:url(images/viewer.jpg) no-repeat scroll center top transparent;border-right:1px solid #eee;float:right;margin:0 1.5%;padding:40px 1% 5px 0;width:33%}#footer .footer-c .cp .viewer h3{color:#999}#footer .footer-c .cp .viewer h3 span{background:none repeat scroll 0 0 #1bbae1;border-radius:4px;color:#fff;font:11px/2 tahoma!important;padding:2px 6px}@media screen and (max-width:1201px){#footer .footer-c,.wrapper{width:100%}}#pull{display:none}@media screen and (max-width:980px){.sidebar{width:25%}.maincontent{width:73%}.leftside,.postbox{float:none;width:100%}}.resmenu{background:none repeat scroll 0 0 #333;display:none;position:fixed;right:0;top:63px;width:25%}@media screen and (max-width:800px){#menu ul.main{font:12px/28px BYekan,tahoma}#socialoptions{display:none}#menu ul li{padding:5px 30px 4px 4px}}@media screen and (max-width:700px){.newsletter,.sidebar{display:none}.notifications{width:100%}.maincontent{overflow:hidden;width:100%}#footer .footer-c .cp,#footer .footer-c .tags{float:none;width:98%}#menu ul.main{display:none}#menu .logo{background:url(images/logo.gif) no-repeat scroll right center #333;float:right;height:63px;position:relative;width:100%}#menu .logo a{width:200px}#menu #pull{background:none repeat scroll 0 0 #1bbae1;border-radius:4px;color:#fff;font:13px/2 BYekan,tahoma;left:15px;padding:5px 7px;position:absolute;top:15px}}.commentdata{float:right;width:200px}.commentdata label,.textarea-box label{display:block;font-size:11px;margin:8px 0;width:100px}.commentformss input,.commentformss textarea{background:none repeat scroll 0 0 #f1f1f1;border:1px solid #e1e1e1;border-radius:3px;color:#999;font:11px/1.9 tahoma,Arial,sans-serif;padding:4px;text-shadow:1px 1px #fff;width:200px}.related_posts{border:1px dashed #eee;border-radius:3px;margin:10px 0}.related_posts h3{background:none repeat scroll 0 0 #f5f5f5;padding:4px 6px}.related_posts ul{padding:5px 0}.related_posts ul li a{display:block;padding:3px 6px}.related_posts ul li a:hover{background:none repeat scroll 0 0 #f5f5f5;color:#333}.commentformss textarea{width:70%}.commentformss #submit{background:none repeat scroll 0 0 #f24848;border:1px solid #fff;box-shadow:0 1px 2px #ccc;color:#fff;cursor:pointer;font:13px BYekan;margin:10px 0;padding:6px 10px}.commentformss input:focus,.commentformss textarea:focus{background:none repeat scroll 0 0 #f5f5f5;border:1px solid #3f9efe;box-shadow:0 0 2px #ccc;color:#222}.site-description{display:none}.comment p{word-break: break-word;word-wrap: break-word;} .comment{background:none repeat scroll 0 0 #f5f5f5;float:right;margin:10px 0;padding:10px;width:96%}.ava{float:right;width:20%}.cm-body{float:left;width:80%}.comment h4{font:14px BYekan}.text-box{height:175px;width:300px}.comment-text{display:block;width:250px}.latestforum li{color:#ff6500;list-style:square;padding:0 4px 0 0;white-space:nowrap}.latestforum>ul{clear:both;margin:0 0 0 13px;overflow:hidden;padding:8px 27px 9px 0}.goto{float:left}.leftInfo h3{border-right:4px solid #f90;padding:0 7px 0 0}.comment-author.vcard{float:left}.says{display:none}cite{float:right}.fn{font-family:BYekan;font-size:13px;margin:0 0 0 12px}.reply{clear:both;float:left;margin:9px 0 0 11px;text-align:left}.children .comment-body{border-top:4px solid #e1e1e1;padding:12px 0 0}.comment-reply-link:hover{color:#fff}.player{padding:15px 7px}.player audio{width:100%}#code-player,#code-player-auto{display:none;padding:11px 0 14px;text-align:center}#code-player textarea,#code-player-auto textarea{border:1px solid #d0cece;direction:ltr;float:left;font-family:tahoma;font-size:11px;height:110px!important;margin:0 0 0 5px;width:100%!important}.get-code .button,.get-code-auto .button{background:none repeat scroll 0 0 #1bbae1;border:0;border-radius:4px;color:#fff;font-family:BYekan;padding:5px;width:100%}.get-code,.get-code-auto{margin:16px 0 0}.get-code .button:hover,.get-code-auto .button:hover{cursor:pointer}.download{padding:12px 6px;text-align:center}.download>p{display:inline-block;margin:0 23px 0 0}.download>p>a{font-weight:700}.download>h:first-child{background:none repeat scroll 0 0 red}.download h4:first-child{margin:0}.download>ul{margin:8px 23px 6px 0;text-align:right}.download li{line-height:21px;list-style:square;padding:0}#respond>h3{clear:both}.watch-action{direction:rtl;float:right!important;font-size:11px;height:auto!important;margin:9px 13px;width:auto!important}.watch-position.align-left{float:right}.status-522.status.align-left{float:right;font-size:12px}.ads-top{margin:15px 0 0;text-align:center}.ads-right-sidebar{margin:18px 0 0;text-align:center}.define-post{padding:8px 16px;text-align:center}.ads-single{padding:14px 0 3px;text-align:center}.ads-single img{margin:0 0 3px}.adv-left.download-help{margin:12px 3px 0}.adv-left.download-help>p{line-height:21px;margin:7px 3px;text-align:justify}#mp3player_generator{background:none repeat scroll 0 0 #f8f8f8;margin:8px 8px 16px}#mp3player_generator table{border:1px solid #dedede;font-size:12px;width:100%}#mp3player_generator table tr td{border-bottom:1px solid #e7e7e7;box-shadow:0 1px 0 0 #fff;padding:5px 10px}.input-text{border:1px solid #e4e4e4;font-family:tahoma;font-size:12px;padding:6px 9px;width:100%}.input-submit{background:none repeat scroll 0 0 #ff6500;border:0;color:#fff;font-family:tahoma;font-size:12px;padding:5px 8px}.error{background:none repeat scroll 0 0 #b73a3a;border-radius:3px;color:#fff;margin:0 5px 13px;padding:2px 10px}.success{background:none repeat scroll 0 0 #37b553;border-radius:3px;color:#fff;margin:0 5px 13px;padding:2px 10px}#mp3player{margin:28px 0 23px;text-align:center}#mp3player textarea{border:1px solid #ff6500;direction:ltr;font-family:tahoma;font-size:11px;padding:2px;width:80%}.leftInfo:hover h3:first-child>a{padding-right:4px}.share a{position:relative;}

html {
    font-size: 10px;
    font-family: sans-serif;
}

@font-face {
    font-family: BYekan;
    src: url(fonts/BYekan.woff);
}

* {
    box-sizing: border-box;
}

h1, h2 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BYekan, tahoma, serif;
    font-weight: 400;
}

a, a:visited {
    text-decoration-color: red;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.post {
    background: #FFF none repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    margin-right-value: 0px;
    margin: 0 0 10px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
}

.post .rightInfo {
    float: right;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0;
    padding-right-value: 1%;
    padding-bottom: 6%;
    padding-left-value: 1%;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    text-align: center;
    width: 15%;
}

.post .rightInfo .views {
    background: #62CF7E none repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom: 3px solid #53B362;
    border-radius: 3px;
    color: #FFF;
    display: block;
    margin-top: 0;
    margin-right-value: 5px;
    margin-bottom: 0;
    margin-left-value: 5px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    padding-top: 3px;
    padding-right-value: 5px;
    padding-bottom: 3px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.post .leftInfo {
    border-right-width-value: 4px;
    border-right-style-value: solid;
    border-right-color-value: rgb(238, 238, 238);
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    float: left;
    padding-top: 0;
    padding-right-value: 1%;
    padding-bottom: 0;
    padding-left-value: 1%;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    width: 85%;
}

.post .leftInfo header {
    position: relative;
    border-bottom: 1px solid rgb(171, 238, 180);
    padding-top: 5px;
    padding-right-value: 5px;
    padding-bottom: 5px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.post .leftInfo .date {
    transform: rotate(45deg);
    background: transparent url("images/sprites.png") no-repeat scroll right -326px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    color: #666;
    font-family: BYekan, tahoma, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    padding-top: 2px;
    padding-right-value: 24px;
    padding-bottom: 2px;
    padding-left-value: 10px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    float: left;
    margin-left-value: 10px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
}

.alignnone {
    max-width: 100%;
}

.moreLink {
    padding-top: 10px;
    padding-right-value: 0px;
    padding-bottom: 10px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.moreLink a {
    border-right-width-value: 3px;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    color: rgb(247, 247, 247);
    padding-top: 3px;
    padding-right-value: 5px;
    padding-bottom: 3px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    font-family: BYekan, tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 2;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.pull-left {
    float: left !important;
}

.postBox {
    float: right;
    margin-top: 10px;
    margin-right-value: 0px;
    margin-bottom: 0;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 70%;
}

.wrapper {
    direction: rtl;
    font-family: tahoma, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 2.5;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    margin-top: 0;
    margin-right-value: auto;
    margin-bottom: 0;
    margin-left-value: auto;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 1200px;
}

.mainContent {
    float: left;
    margin-top: 10px;
    margin-right-value: 0px;
    margin-bottom: 0;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 78%;
}

.postIconSport {
    text-align: center;
    background: transparent url("images/sportIcon.png") no-repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    height: 40px;
    margin-top: 10px;
    margin-right-value: auto;
    margin-bottom: 10px;
    margin-left-value: auto;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 65px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: right;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
    background-color: #76c84c;
	border-bottom: 5px solid #46b046;
	text-shadow: 0px -2px #46b046;
}

.action-button:hover {
    background-color: #78d254;
}

.action-button:active
{
    background-color: #32653a;
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
