a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{border:0;margin:0;padding:0;vertical-align:baseline}:focus{outline:0}html{overflow-x:hidden}article,aside,details,figcaption,figure,header,hgroup,menu,nav,section{display:block}nav ul,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}.clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}h1,h2,h3,h4,h5,h6{font-family:BYekan,tahoma;font-weight:400}h1,h2{font-size:16px}h3{font-size:13px}h4,h5,h6{font-size:11px}.leftInfo header h6{font-size:16px}.clear{clear:both;display:block;font-size:0;height:0}.postbox{float:right;margin:10px 0 0;width:70%}.post{background:none repeat scroll 0 0 #fff;margin:0 0 10px}.post img{max-width:100%}.post .rightc{float:right;overflow:hidden;padding:0 1% 6%;text-align:center;width:15%}.post .rightc p{padding:5px 0}.post .rightc p a{color:#ddd}.post .rightc p a:hover{color:#666}.post .rightc .view{background:none repeat scroll 0 0 #62cf7e;border-bottom:3px solid #53b362;border-radius:3px;color:#fff;display:block;margin:0 5px;padding:3px 5px}.post .leftInfo{border-right:4px solid #eee;float:left;padding:0 1%;width:85%}.post .leftInfo header{position:relative;border-bottom:1px solid #eee;padding:5px}.morelink{padding:10px 0}.morelink a{background:none repeat scroll 0 0 #1fc0e8;border-right:3px solid #15a6ca;color:#fff;font:13px/2 BYekan,tahoma;padding:3px 5px}.morelink a:hover{background:none repeat scroll 0 0 #3dc8eb;border-right:5px solid #15a6ca}.post .leftInfo .date{background:url(images/sprites.png) no-repeat scroll right -326px transparent;color:#666;font:12px/2 BYekan,tahoma;padding:2px 24px 2px 10px}.post .leftInfo .cat{background:url(images/sprites.png) no-repeat scroll right -209px transparent;color:#666;font:12px/2 BYekan,tahoma;padding:2px 24px 2px 10px}.latestforum{background:none repeat scroll 0 0 #fff;margin:0 0 10px}.leftside{float:left;margin:10px 0 0;width:28.75%}.lastposts{background:none repeat scroll 0 0 #fff;margin:0 0 10px}.lastposts h3{border-bottom:1px solid #eee;border-right:3px solid #eee;padding:2px 6px}.lastposts h3 span{background:url(images/sprites.png) no-repeat scroll right -37px transparent;padding:2px 30px 0 0}.lastposts ul{padding:5px 0}.lastposts ul li a{padding:0 9px}.adv-left{background:none repeat scroll 0 0 #ebe9e9;margin:0 0 10px;padding:10px}..leftside,.postbox{float:none;width:100%}}.resmenu{background:none repeat scroll 0 0 #333;display:none;position:fixed;right:0;top:63px;width:25%}.maincontent{overflow:hidden;width:100%}.leftInfo h3{border-right:4px solid #f90;padding:0 7px 0 0}.says{display:none}cite{float:right}.fn{font-family:BYekan;font-size:13px;margin:0 0 0 12px}.reply{clear:both;float:left;margin:9px 0 0 11px;text-align:left}.children .comment-reply-link:hover{color:#fff}.player{padding:15px 7px}.player audio{width:100%}#code-player,#code-player-auto{display:none;padding:11px 0 14px;text-align:center}#code-player textarea,#code-player-auto textarea{border:1px solid #d0cece;direction:ltr;float:left;font-family:tahoma;font-size:11px;height:110px!important;margin:0 0 0 5px;width:100%!important}.get-code .button,.get-code-auto .button{background:none repeat scroll 0 0 #1bbae1;border:0;border-radius:4px;color:#fff;font-family:BYekan;padding:5px;width:100%}.get-code,.get-code-auto{margin:16px 0 0}.get-code .button:hover,.get-code-auto .button:hover{cursor:pointer}.download{padding:12px 6px;text-align:center}.download>p{display:inline-block;margin:0 23px 0 0}.download>p>a{font-weight:700}.download>h:first-child{background:none repeat scroll 0 0 red}.download h4:first-child{margin:0}.download>ul{margin:8px 23px 6px 0;text-align:right}.download li{line-height:21px;list-style:square;padding:0}#respond>h3{clear:both}.watch-action{direction:rtl;float:right!important;font-size:11px;height:auto!important;margin:9px 13px;width:auto!important}.watch-position.align-left{float:right}.status-522.status.align-left{float:right;font-size:12px}.ads-top{margin:15px 0 0;text-align:center}.ads-right-sidebar{margin:18px 0 0;text-align:center}.define-post{padding:8px 16px;text-align:center}.ads-single{padding:14px 0 3px;text-align:center}.ads-single img{margin:0 0 3px}.adv-left.download-help{margin:12px 3px 0}.adv-left.download-help>p{line-height:21px;margin:7px 3px;text-align:justify}#mp3player_generator{background:none repeat scroll 0 0 #f8f8f8;margin:8px 8px 16px}#mp3player_generator table{border:1px solid #dedede;font-size:12px;width:100%}#mp3player_generator table tr td{border-bottom:1px solid #e7e7e7;box-shadow:0 1px 0 0 #fff;padding:5px 10px}.input-text{border:1px solid #e4e4e4;font-family:tahoma;font-size:12px;padding:6px 9px;width:100%}.input-submit{background:none repeat scroll 0 0 #ff6500;border:0;color:#fff;font-family:tahoma;font-size:12px;padding:5px 8px}.error{background:none repeat scroll 0 0 #b73a3a;border-radius:3px;color:#fff;margin:0 5px 13px;padding:2px 10px}.success{background:none repeat scroll 0 0 #37b553;border-radius:3px;color:#fff;margin:0 5px 13px;padding:2px 10px}#mp3player{margin:28px 0 23px;text-align:center}#mp3player textarea{border:1px solid #ff6500;direction:ltr;font-family:tahoma;font-size:11px;padding:2px;width:80%}.leftInfo:hover h3:first-child>a{padding-right:4px}

html {
    font-size: 10px;
    font-family: sans-serif;
}

@font-face {
    font-family: BYekan;
    src: url(fonts/BYekan.woff);
}

body {
    background-color: #f3f3f3;
    font-size: 76%;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BYekan, tahoma, serif;
    font-weight: 400;
}

article {
    display: block;
    border-right-width-value: 0px;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-left-width-value: 0px;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-right-style-value: none;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-top: 0 none -moz-use-text-color;
    border-bottom: 0 none -moz-use-text-color;
    border-left-color-value: -moz-use-text-color;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-repeat: stretch stretch;
    padding-top: 0;
    padding-right-value: 0px;
    padding-bottom: 0;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    vertical-align: baseline;
}

a, a:visited {
    text-decoration-color: red;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.post {
    background: #FFF none repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    margin-right-value: 0px;
    margin: 0 0 10px;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
}

.post .rightInfo {
    float: right;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0;
    padding-right-value: 1%;
    padding-bottom: 6%;
    padding-left-value: 1%;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    text-align: center;
    width: 15%;
}

.post .rightInfo .views {
    background: #62CF7E none repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom: 3px solid #53B362;
    border-radius: 3px;
    color: #FFF;
    display: block;
    margin-top: 0;
    margin-right-value: 5px;
    margin-bottom: 0;
    margin-left-value: 5px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    padding-top: 3px;
    padding-right-value: 5px;
    padding-bottom: 3px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.post .leftInfo {
    border-right-width-value: 4px;
    border-right-style-value: solid;
    border-right-color-value: rgb(238, 238, 238);
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    float: left;
    padding-top: 0;
    padding-right-value: 1%;
    padding-bottom: 0;
    padding-left-value: 1%;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    width: 85%;
}

.post .leftInfo header {
    position: relative;
    border-bottom: 1px solid rgb(171, 238, 180);
    padding-top: 5px;
    padding-right-value: 5px;
    padding-bottom: 5px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.post .leftInfo header h2 a:hover {
    color : #ff5346
}

.post .leftInfo header h2 a:active {
    color : #b4372f
}

.post .leftInfo .date {
    background: transparent url("images/sprites.png") no-repeat scroll right -326px;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    color: #666;
    font-family: BYekan, tahoma, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    padding-top: 2px;
    padding-right-value: 24px;
    padding-bottom: 2px;
    padding-left-value: 10px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    float: left;
    margin-left-value: 10px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
}

.alignnone {
    max-width: 100%;
}

.moreLink {
    padding-top: 10px;
    padding-right-value: 0px;
    padding-bottom: 10px;
    padding-left-value: 0px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
}

.moreLink a {
    border-right-width-value: 3px;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    color: rgb(247, 247, 247);
    padding-top: 3px;
    padding-right-value: 5px;
    padding-bottom: 3px;
    padding-left-value: 5px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;
    font-family: BYekan, tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 2;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.pull-left {
    float: left !important;
}

.postBox {
    float: right;
    margin-top: 10px;
    margin-right-value: 0px;
    margin-bottom: 0;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 70%;
}

.wrapper {
    direction: rtl;
    font-family: tahoma, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 2.5;
    font-size-adjust: none;
    font-stretch: normal;
    -x-system-font: none;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    margin-top: 0;
    margin-right-value: auto;
    margin-bottom: 0;
    margin-left-value: auto;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 1200px;
}

.mainContent {
    float: left;
    margin-top: 10px;
    margin-right-value: 0px;
    margin-bottom: 0;
    margin-left-value: 0px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 78%;
}

.postIconSport {
    text-align: center;
    background: transparent url("images/sportIcon.png") no-repeat scroll 0 0;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    height: 40px;
    margin-top: 10px;
    margin-right-value: auto;
    margin-bottom: 10px;
    margin-left-value: auto;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    margin-right-ltr-source: physical;
    margin-right-rtl-source: physical;
    width: 65px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
    padding: 5px 40px;
    margin: 0 10px 10px 0;
    float: right;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
    background-color: #76c84c;
	border-bottom: 5px solid #46b046;
	text-shadow: 0 -2px #46b046;
}

.action-button:hover {
    background-color: #78d254;
}

.action-button:active
{
    background-color: #32653a;
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.activePage{
    background-color: #32653a;
}

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
}

.comment-body{
    font-family: BYekan, tahoma, serif;
	text-transform: uppercase;
	color: #0e0e0e;
	font-size: 14px;
	padding: 20px 1px;
	line-height: 18px;
	text-decoration: none;
	display: block;
    border-radius: 20px;
    margin: 40px;
    background-color: #d9d9d9;
}

.commentText {
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 85%;
    width: 85%;
    height: 150px;
    background-color: rgba(112, 255, 205, 0.26);
    border: 1px solid #B8B8B8;
    font-family: BYekan, sans-serif;
}

.successSentComment {
    font-family: BYekan, sans-serif;
    font-size: 16px;
    color: rgb(61, 255, 47);
    text-align: center;
    margin-right: 50px;
}