<!DOCTYPE html>
<html>
<head>
<style>
ul#menu {
    padding: 50;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
</style>
</head>
<body>
<ul id="menu">
  <li><a href="/varzesh" target="_blank">varzesh</a></li>
  <li><a href="/movie" target="_blank">film</a></li>
  <li><a href="/music" target="_blank">music</a></li>
  <li><a href="/game" target="_blank">game</a></li>
</ul>
{% if user.is_authenticated %}
    <div class="form-inline">
        <h1>Rango says... hello {{ user.username }}!</h1>
    </div>
{% endif %}
</body>
</html>
