<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'themes/postTheme.css' %}"/>
</head>
<body>
<div class="wrapper">
    <div class="mainContent">
        <div class="postBox">
            <article class="post">
                <div class="rightInfo">
                    <figure class="postIconSport"></figure>
                    <span class="views">3 بازدید</span>
                </div>
                <div class="leftInfo">
                    <header>
                        <h2 style="text-align: center;">
                            <a title="عنوان برای پست" rel="bookmark" href="/">عنوان برای پست</a>
                        </h2>
                    </header>
                    <p style="text-align: center">
                        <img class="alignnone" width="400" height="299" alt="عنوان برای پست" src="{% static 'images/test.jpg' %}" title="عنوان برای پست" />
                    </p>
                    <p style="text-align: center;">
            ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان
                    </p>
                    <p style="text-align: center;">
                        <span style="color: #0000ff;">
                            برای دیدن کامل خبر به ادامه مطلب مراجعه کنید...
                        </span>
                    </p>
                    <p style="text-align: center;"></p>
                    <div class="moreLink">
                        <a href="/">
                            ادامه مطلب
                        </a>
                        <span class="date">
                            تاریخ : ۱۷ام اردیبهشت, ۱۳۹۴
                        </span>
                    </div>
                    <div class="pull-left"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </article>
        </div>
    </div>

</div>
</body>
</html>