<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'postTheme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'menuBar.css' %}"/>
</head>
<body>
<div class="menu">
    <header class="green">
        <ul>
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/varzesh/1">ورزش</a></li>
            <li><a href="/music/1">آهنگ</a></li>
            <li><a href="/movie/1">فیلم</a></li>
            <li><a href="/game/1">بازی</a></li>
            <li><a href="">ارتباط با ما</a></li>
            <li><a href="/login">ورود</a></li>
            <li><a href="/signup">ثبت نام</a></li>
            {% if user.is_authenticated %}
                <li><h1></h1></li>
                <li><h1></h1></li>
                <li><h1></h1></li>
                <li><h1>عزیز خوش آمدید {{ user.username }}</h1></li>
                <li><a href="/exituser">خروج</a></li>
            {% endif %}
        </ul>
    </header>
</div>
<div style="margin-top: 50px;margin-bottom: 50px;font-family: BYekan, sans-serif;font-size: 20px;color: rgba(255, 83, 70);text-align: center">
کلید فعالسازی به ایمیل شما ارسال شد ، برای فعال کردن حساب خود به ایمیل خود  وارد شوید
</div>
<div id="footer" class="total-wrapper-footer">
    <div class="footer-top">
        <div class="footer-wrapper">
            <div class="footer-column">
                <a href="/">صفحه اصلی</a>
                <a href="">درباره ما</a>
                <a href="">تماس با ما</a>
            </div>
            <div class="footer-column">
                <a href="/signup">ثبت نام</a>
                <a href="/login">ورود</a>
                <a href="/varzesh/1">ورزش</a>
            </div>
            <div class="footer-column">
                <a href="/music/1">آهنگ</a>
                <a href="/movie/1">فیلم</a>
                <a href="/game/1">بازی</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>