<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'postTheme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'menuBar.css' %}"/>
</head>
<body>
<div class="menu">
    <header class="green">
        <ul>
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/varzesh" class="active">ورزش</a></li>
            <li><a href="/music">آهنگ</a></li>
            <li><a href="/movie">فیلم</a></li>
            <li><a href="/game">بازی</a></li>
            <li><a href="">ارتباط با ما</a></li>
            <li><a href="">ورود</a></li>
            <li><a href="/signup">ثبت نام</a></li>
        </ul>
    </header>
</div>
<div class="wrapper">
    <div class="mainContent">
        <div class="postBox">
            <article class="post">
                <div class="rightInfo">
                    <figure class="postIconSport"></figure>
                    <span class="views">3 بازدید</span>
                </div>
                <div class="leftInfo">
                    <header>
                        <h2 style="text-align: center;">
                            <a title="عنوان برای پست" rel="bookmark" href="/">عنوان برای پست</a>
                        </h2>
                    </header>
                    <p style="text-align: center">
                        <img class="alignnone" width="400" height="299" alt="عنوان برای پست" src="{% static 'images/test.jpg' %}" title="عنوان برای پست" />
                    </p>
                    <p style="text-align: center;">
            ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان ریز مطلب واسه عنوان
                    </p>
                    <p style="text-align: center;">
                        <span style="color: #0000ff;">
                            برای دیدن کامل خبر به ادامه مطلب مراجعه کنید...
                        </span>
                    </p>
                    <p style="text-align: center;"></p>
                    <div class="moreLink">
                        <a href="/" target="_blank" class="action-button shadow animate">
                            ادامه مطلب
                        </a>
                        <span class="date">
                            تاریخ : ۱۷ام اردیبهشت, ۱۳۹۴
                        </span>
                    </div>
                    <div class="pull-left"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </article>
            <div class="lastForum">
                <div class="define-post">
                    <div id="wp_page_numbers">
                        <ul>
                            <li>
                                <a href="">
                                    صفحه قبل
                                </a>
                            </li>
                            <li class="pageInfo">
                                page 1 of 10
                            </li>
                            <li>
                                <a href="">
                                    صفحه بعد
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="total-wrapper-footer">
    <div class="footer-top">
        <div class="footer-wrapper">
            <div class="footer-column">
                <a href="/">صفحه اصلی</a>
                <a href="">درباره ما</a>
                <a href="">تماس با ما</a>
            </div>
            <div class="footer-column">
                <a href="/signup">ثبت نام</a>
                <a href="">ورود</a>
                <a href="/varzesh">ورزش</a>
            </div>
            <div class="footer-column">
                <a href="/music">آهنگ</a>
                <a href="/movie">فیلم</a>
                <a href="/game">بازی</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>